<html>
  <head>
    <title>Psychology Test</title>
  </head>
  <body>
    <h1>Welcome to the Psychology Test</h1>
    <p>Answer the following questions by typing 'yes' or 'no'</p>
   <form action="{{ url_for('show_result') }}" method="post">
      {% for question in questions %}
        {{ question }}
        <br>
        <input type="radio" name="{{ question }}" value="yes"> Yes
        <input type="radio" name="{{ question }}" value="no"> No
        <br><br>
      {% endfor %}
      <input type="submit" value="Submit">
    </form>
  </body>
</html>